In [1]:
import pandas as pd

In [9]:
# Read the data from file using read_excel
data = pd.read_excel('Experiment Result.xlsx')

# Print the data
#print(data)
#get the mean of the data for each dataset with each protected feature
means = data.groupby(['dataset','protected_feature']).mean()
#get the standard deviation of the data for each dataset with each protected feature
stds = data.groupby(['dataset','protected_feature']).std()

In [10]:
# dataset and their protected features
datasets={
    "Adult":["race","sex"],
    "Bank":["age"],
    "German":["age","sex"],
    "law":["race"],
    "recidivism": ["sex"],
    "zindi": ["sex"]
}

In [14]:
means

                              K    Error  Unfairness
dataset    protected_feature
Adult      race               3  0.17748   -0.017775
           sex                3  0.17984   -0.034660
Bank       age                3  0.13784    0.059962
German     age                3  0.32052   -0.018988
           sex                3  0.30294    0.005330
law        race               3  0.22336   -0.024606
recidivism sex                3  0.44246    0.113902
zindi      sex                3  0.23134   -0.059950

In [15]:
stds

                                     K     Error  Unfairness
dataset    protected_feature
Adult      race               1.581139  0.005958    0.073705
           sex                1.581139  0.007825    0.039830
Bank       age                1.581139  0.008187    0.016955
German     age                1.581139  0.025635    0.106921
           sex                1.581139  0.038700    0.086248
law        race               1.581139  0.028276    0.032168
recidivism sex                1.581139  0.053207    0.097713
zindi      sex                1.581139  0.006158    0.050932